{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}index{% endblock %}

{% block content %}

<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h1>Nordstrom Inventory Report Dashboard</h1>
    <h4>Presented by ITR</h4>
</div>

<form action="" method="get">
    {% csrf_token %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h4><a href="{% url 'index' %}">Return Home</a></h4>
</div>
</form>
    <h4> Director Resource Cumulative Use </h4>

<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Director</th>
            <th scope="col">CPU Use</th>
            <th scope="col">Mem GB Use</th>
        </tr>
    </thead>
    <tbody>
        {% for director in object_list %}
            <tr>
{#                <th scope="row">{{ director.id }}</th>#}
                <td>{{ director.director }}</td>
                <td>{{ director.total_cpu_used }}</td>
                <td>{{ director.total_mem_gb_used }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}
