{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}director_resource_sum{% endblock %}

{% block content %}

<form action="" method="get">
    {% csrf_token %}
</form>

<h6 class="text-center"> Director Resource Cumulative Use </h6>

<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Director</th>
            <th scope="col">CPU Use</th>
            <th scope="col">Mem GB Use</th>
            <th scope="col">Disk GB Use</th>
        </tr>
    </thead>
    <tbody>
        {% for director in director_counts %}
            <tr>
{#                <th scope="row">{{ director.id }}</th>#}
                <td>{{ director.director }}</td>
                <td>{{ director.cpu_counts }}</td>
                <td>{{ director.mem_gb_counts }}</td>
                <td>{{ director.disk_gb_counts }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}
