{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load static %}


{% block page_name %}guests_by_director{% endblock %}

{% block content %}
<form action="" method="get">
{% csrf_token %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h4><a href="{% url 'index' %}">Return Home</a></h4>
</div>
<div>
    <h6>VM Guests by Director</h6>
</div>
<img src="{% static 'director_image' %}"/>
<br />
    {% for p in guests_by_director_count %}
        <p>{{ p.director }}: {{ p.VMs }}</p>
    {% endfor %}

</form>

{% endblock %}
