{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block page_name %}guests_by_support_group{% endblock %}

{% block content %}
<form action="" method="get">
{% csrf_token %}
</form>

<h6 class="text-center">VM Guests by Support Group</h6>
<img src="{% static 'support_group.png' %}"/>

<br />
<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Support Group</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for support_group in guests_by_support_group_count %}
            <tr>
{#                <th scope="row">{{ sg.id }}</th>#}
                <td>{{ support_group.support_group }}</td>
                <td>{{ support_group.VMs }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}