{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load static %}


{% block page_name %}guests_by_director{% endblock %}

{% block content %}
<form action="" method="get">
{% csrf_token %}
</form>

<h6 class="text-center">VM Guests by Director</h6>
<img src="{% url 'guestsDirectorSBS' %}" />
<br />
<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Director</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for director in guests_by_director_count %}
            <tr>
            {% if not director %}
{#              <th scope="row">{{ sg.id }}</th>#}
                <td>No Director in ServiceNow</td>
                <td>{{ director.VMs }}</td>
            {% else %}
                <td>{{ director.director }}</td>
                <td>{{ director.VMs }}</td>
            {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}
