{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block page_name %}high_cpu_count{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}


<div>
    <h6 class="text-center">Total VMs with more than 4 vCPU: {{ high_cpu_count }}</h6>
</div>

<br />
{#<img src="{% url 'high_cpu_countSBS' %}" />#}
{{ cpu_utilization_boxplot }}
<br />
<p class="text-center font-weight-bold">Click a block below for the details of that item!</p>
<div class="container-fluid">
    {% for vmguest in high_cpu_guests %}
        <div class="panel">
            <div class="form-group">
                <div class="container-fluid">
                    <a href="{% url 'item_detail' vmguest.id %}">
                        <div id=clickable-row class="row row-hover alert alert-secondary">
                            <div class="col-2">
                                <p><b>VM Name:</b><br />{{ vmguest.vm_name}}</p>
                                <p><b>Status:</b><br /> {{ vmguest.state }}</p>
                                <p><b>Datacenter:</b><br /> {{ vmguest.dcname }}</p>
                            </div>
                            <div class="col-2">
                                <p><b>Host:</b><br /> {{ vmguest.vmhostname|truncatechars:23 }}</p>
                                <p><b>VC Host:</b><br /> {{ vmguest.vchostname|truncatechars:23 }}</p>
                                <p><b>Cluster:</b><br /> {{ vmguest.clustername }}</p>
                            </div>
                            <div class="col-2">
                                <p><b>vCPUs:</b><br /> {{ vmguest.cpu }}</p>
                                <p><b>Fraction of CPU Used:</b><br /> {{ vmguest.fraction_cpu_usage }}</p>
                            </div>
                            <div class="col-2">
                                <p><b>Memory:</b><br /> {{ vmguest.mem_gb }}</p>
                                <p><b>Fraction of Mem Used:</b><br /> {{ vmguest.fraction_mem_usage }}</p>
                            </div>
                            <div class="col-2">
                                <p><b>OS:</b><br /> {{ vmguest.ostype }}</p>
                                <p><b>IP Address:</b><br /> {{ vmguest.ip }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

</form>
{% endblock %}