{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}index{% endblock %}

{% block content %}

<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h1><a href="{% url 'index' %}">Nordstrom Inventory Dashboard</a></h1>
    <h4>Presented by ITR</h4>
</div>

<form method="POST" class="post-form form-inline">
    {% csrf_token %}
{#    <div class="form-group">#}
{#        <div class="input-group">#}
{#            <input type="text" placeholder="Search" name="search" value="{{ searchterm }}">#}
{#            <button type="submit" class="save btn btn-default input-group-addon">Search</button>#}
{#        </div>#}
{#    </div>#}
</form>
<div>
    <br />
    <p>VMs: {{ vm_count }} -- RedHat: {{ redhat_count }} -- Windows: {{ windows_count }} -- Ubuntu:  {{ ubuntu_count }} -- SUSE:  {{ suse_count }} -- Other: {{ other_count }}</p>
</div>
<div>
    <br />
    <a href="{% url 'high_cpu_count' %}">High CPU guest count: {{ high_cpu_count }}</a>
</div>
{% endblock  %}
