{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}index{% endblock %}

{% block content %}

<div class="page-header" xmlns="http://www.w3.org/1999/html">
    <h1>Nordstrom Inventory Report Dashboard</h1>
    <h4>Presented by ITR</h4>
</div>

<form method="POST" class="post-form form-inline">
    {% csrf_token %}
{#    <div class="form-group">#}
{#        <div class="input-group">#}
{#            <input type="text" placeholder="Search" name="search" value="{{ searchterm }}">#}
{#            <button type="submit" class="save btn btn-default input-group-addon">Search</button>#}
{#        </div>#}
{#    </div>#}
</form>
<div>
    <br />
    <p>
    <a href="{% url 'high_cpu_count' %}">High CPU guest count (greater than 4 vCPU): {{ high_cpu_count }}</a><br />
    <a href="{% url 'high_memory_count' %}">High memory use guest count (greater than 8 GB): {{ high_memory_count }}</a><br />
    </p>
    <p>
    <a href="{% url 'guestsDirector' %}">Guests owned by Director</a><br />
    <a href="{% url 'DirectorResourceSum' %}">Total resources used by Director</a><br />
    </p>
    <p>
    <a href="{% url 'guestsSupportGroup' %}">Guests owned by Support Group</a><br />
    <a href="{% url 'SupportGroupResourceSum' %}">Total resources used by Support Group</a><br />
    </p>
    <p>
    <a href="{% url 'osDistribution' %}">OS Distribution of VMs</a><br />
    </p>
    <p>Total number of directors using on-prem resources: {{ director_count }}<br />
    Total number of support groups using on-prem resources: {{ support_group_count }}<br />
    Total VMs across on-prem VMware resources: {{ vm_count_all }}</p>
</div>
{% endblock  %}
