{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block page_name %}os_distribution{% endblock %}

{% block content %}
<form action="" method="get">
    {% csrf_token %}
</form>

<div>
    <h6 class="text-center">OS Distribution</h6>
</div>

<br />
<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">OS Type</th>
            <th scope="col">Count</th>
        </tr>
    </thead>
    <tbody>
        {% for ostype in vm_count_by_os %}
            <tr>
{#                <th scope="row">{{ sg.id }}</th>#}
                <td>{{ ostype.ostype }}</td>
                <td>{{ ostype.VMs }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock  %}