{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}support_group_resource_sum{% endblock %}

{% block content %}

<form action="" method="get">
    {% csrf_token %}
</form>

<h6 class="text-center"> Support Group Resource Cumulative Use </h6>

<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Support Group</th>
            <th scope="col">CPU Use</th>
            <th scope="col">Mem GB Use</th>
            <th scope="col">Disk GB Use</th>
        </tr>
    </thead>
    <tbody>
        {% for metric in support_group_counts %}
            <tr>
{#                <th scope="row">{{ sg.id }}</th>#}
                <td>{{ metric.support_group }}</td>
                <td>{{ metric.cpu_counts }}</td>
                <td>{{ metric.mem_gb_counts }}</td>
                <td>{{ metric.disk_gb_counts }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}
