{% extends "inventoryDashboard/base.html" %}
{% load staticfiles %}

{% block page_name %}support_group_resource_sum{% endblock %}

{% block content %}

<form action="" method="get">
    {% csrf_token %}
</form>
<h6 class="text-center"> Support Group Resource Cumulative Use </h6>

<div class="container-fluid">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
{#            <th scope="col">ID</th>#}
            <th scope="col">Support Group</th>
            <th scope="col">CPU Use</th>
            <th scope="col">Mem GB Use</th>
        </tr>
    </thead>
    <tbody>
        {% for support_group in object_list %}
            <tr>
{#                <th scope="row">{{ sg.id }}</th>#}
                <td>{{ support_group.support_group }}</td>
                <td>{{ support_group.total_cpu_used }}</td>
                <td>{{ support_group.total_mem_gb_used }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock  %}
